html,
body {
    height: 100vh;
}

* {
    transition: 0.5s;
}

summary {
    user-select: none;
}

/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"] {

    html,
    body {
        background: #f1f5f9;
    }

    .side-bar {
        background: white;
    }
}

nav {
    height: 3rem;
}

main {
    margin-bottom: 0;
}

.report-container {
    background: white;
    position: relative;
}

.side-bar {
    height: 100%;
    background-color: #1e293b;
    transition: 0.5s;
}

.side-bar * {
    padding-left: 10px !important;
    padding-right: 10px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin: 0 !important;
}

.accordion-rpt {
    color: black;
    width: 100%;
    margin-bottom: 5px !important;
    border: none;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    transition: 0.4s;
    font-weight: bold;
}

.properties-container{
    overflow-y: auto;
    font-size: 18px;
}
.properties-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px !important;
}

.properties-container summary {
    padding: 0 10px !important;
}

.properties-container input[type="color"],
.properties-container input[type="number"],
.properties-container input[type="text"] {
    width: 5rem;
    height: 2rem;
    padding: 5px !important;
}

.drop-area {
    width: 300px;
    height: 200px;
    border: 2px dashed #ccc;
    text-align: center;
    line-height: 200px;
    transition: background-color 0.3s ease;
}
