html, body {
    height: 100vh;
}

/* Light color scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"] {
    body {
        background: #f1f5f9;
        height: 100vh;
    }
}

nav {
    height: 3rem;
}

.report-container {
    background: white;
    position: relative;
}
